@import api.DigestPath
@(message: String, extractForm: Form[DigestPath])

@main("Welcome to Play") {

<div class="container">
    <div class="row">
        Default directory: @message
    </div>

    <form class="margin" action="@routes.HtmlGenerator.extract()" method="post">
        <div class="form-group col-md-6">
            <label for="import-json-path">Path to Digest Json file for import:</label>
            <input type="text" class="form-control" id="import-json-path" placeholder="@message/digest.json" name="jsonPath">
        </div>
        <div class="form-group col-md-6">
            <label for="export-html-file-path">Path to directory for exporting generated HTML file:</label>
            <input type="text" class="form-control" id="export-html-file-path" placeholder="@message/digest.html" name="htmlPath">
        </div>
        @*<div class="form-group">*@
            @*<label for="exampleInputFile">File input</label>*@
            @*<input type="file" id="exampleInputFile">*@
            @*<p class="help-block">Example block-level help text here.</p>*@
        @*</div>*@

        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-save"></span>
            Extract html</button>
    </form>

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-default" href="/extract" role="button">
                <span class="glyphicon glyphicon-save"></span>
                Extract to default directory</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" href="/preview" role="button">

            Preview
            </a>
        </div>


    @*<form action="@routes.Application.getExtractPath()" method="post">*@
        @*<input type="text" name="path">*@
        @*<button>Save Html file</button>*@
    @*</form>*@

    </div>
</div>
}