@(message: String)

@main("Welcome to Play") {

<div class="container">
    <div class="row">
        Default directory: @message
    </div>

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-default" href="/extract" role="button">
                <span class="glyphicon glyphicon-save"></span>
                Extract to default directory</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" href="/preview" role="button">Preview</a>
        </div>

    </div>

    <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
    <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
    <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>

</div>


}